.logo {
    position: absolute;
    bottom: 30px;
    left: 30px;

    width: 40vw;

    z-index: 1;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;

    object-fit: cover;

    transform: scale(1.2) translate(-50%, -50%);
}

.startButton {
    user-select: none;
    position: absolute;
    bottom: 40px;
    right: 40px;

    color: #fff;

    font-size: 3vw;
    font-weight: 600;

    opacity: 0.4;

    cursor: pointer;

    &:hover {
        opacity: .9;
    }

    &:active {
        opacity: .5;
    }
}

.navigateAnimation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    background-color: black;

    opacity: 0;
}