.container {
    user-select: none;

    width: 100vw;
    height: 100vh;

    background-image: url("https://img1.newsis.com/2024/12/03/NISI20241203_0020616586_web.jpg");
    background-size: cover;
    background-position: center;

    perspective: 1000px;
}

@keyframes noiseAnim {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    20% { transform: translate(-10%, 5%); }
    30% { transform: translate(5%, -10%); }
    40% { transform: translate(-5%, 15%); }
    50% { transform: translate(-10%, 5%); }
    60% { transform: translate(15%, 0); }
    70% { transform: translate(0, 10%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}